$sides: top, bottom, left, right;
$sizes: 0, 4, 8, 16, 32, 64, 100, 128;

@each $side in $sides {
  @each $size in $sizes {
    .padding-#{$size} {
      padding: #{$size}px;
    }
    .margin-#{$size} {
      margin: #{$size}px;
    }
    .padding-#{$side}-#{$size} {
      padding-#{$side}: #{$size}px;
    }
    .margin-#{$side}-#{$size} {
      margin-#{$side}: #{$size}px;
    }
  }
}

.ticket-table-wrapper {
  padding: 100px;
}

.ticket-over-due {
  background-color: rgba(255, 41, 41, 0.67);
}

.complete-ticket-icon {
  color: #3cfa0c;
}

.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}

.ticket-form-wrapper {
  max-width: 750px !important;
}